{% include head-dark.html %}



<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>


  <section class="article pad-top">

      <article class="wrap post">
        <header class="post-header">
  <h3>Here is my bullet journal :</h3> 


          <ul>
        

          <li><p><a href="{{ site.baseurl }}{% link _posts/2019-02-20-Template.md %}">D0 | 20/02/2019 | Template &copy; John Fish</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-04-06-D21.md %}">D21 | 06/04/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-04-07-D22.md %}">D22 | 07/04/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-04-08-D23.md %}">D23 | 08/04/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-04-09-D24.md %}">D24 | 09/04/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-04-10-D25.md %}">D25 | 10/04/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-04-11-D26.md %}">D26 | 11/04/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-04-12-D27.md %}">D27 | 12/04/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-04-13-D28.md %}">D28 | 13/04/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-04-14-D29.md %}">D29 | 14/04/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-04-15-D30.md %}">D30 | 15/04/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-04-16-D31.md %}">D31 | 16/04/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-04-17-D32.md %}">D32 | 17/04/2020</a></p></li>
          
          
          



          </ul>


        </header>




{% include footer.html %}

 <div class="bar_page">
          <span>Year progress :</span>
 <div class="progress">

            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:24%; background-color:green !important;"">
            <span>24%</span>

            </div>
          </div>





