{% include head-dark.html %}



<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>


  <section class="article pad-top">

      <article class="wrap post">
        <header class="post-header">
  <h3>Here is my bullet journal :</h3> 


          <ul>
        

          <li><p><a href="{{ site.baseurl }}{% link _posts/2019-02-20-Template.md %}">D0  | 20/02/2019 | Template &copy; John Fish</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-04-06-D21.md %}">D21 | 06/04/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-04-07-D22.md %}">D22 | 07/04/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-04-08-D23.md %}">D23 | 08/04/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-04-09-D24.md %}">D24 | 09/04/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-04-10-D25.md %}">D25 | 10/04/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-04-11-D26.md %}">D26 | 11/04/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-04-12-D27.md %}">D27 | 12/04/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-04-13-D28.md %}">D28 | 13/04/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-04-14-D29.md %}">D29 | 14/04/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-04-15-D30.md %}">D30 | 15/04/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-04-16-D31.md %}">D31 | 16/04/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-04-17-D32.md %}">D32 | 17/04/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-04-18-D33.md %}">D33 | 18/04/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-04-19-D34.md %}">D34 | 19/04/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-04-20-D35.md %}">D35 | 20/04/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-04-21-D36.md %}">D36 | 21/04/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-04-22-D37.md %}">D37 | 22/04/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-04-23-D38.md %}">D38 | 23/04/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-04-24-D39.md %}">D39 | 24/04/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-04-25-D40.md %}">D40 | 25/04/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-04-26-D41.md %}">D41 | 26/04/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-04-27-D42.md %}">D42 | 27/04/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-04-28-D43.md %}">D43 | 28/04/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-04-29-D44.md %}">D44 | 29/04/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-04-30-D45.md %}">D45 | 30/04/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-05-01-D46.md %}">D46 | 01/05/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-05-02-D47.md %}">D47 | 02/05/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-05-03-D48.md %}">D48 | 03/05/2020</a></p></li>
          <li><p><a href="{{ site.baseurl }}{% link _posts/2020-05-04-D49.md %}">D49 | 04/05/2020</a></p></li>
       
          
          



          </ul>


        </header>




{% include footer.html %}

 <div class="bar_page">
          <span>Year progress :</span>
 <div class="progress">

            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:33%; background-color:green !important;"">
            <span>30%</span>

            </div>
          </div>





