{% include head-dark.html %}




<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<section class="article pad-top">

      <article class="wrap post">
        <header class="post-header">

        <h3>
        Here is my toolbox :</h3>  

         <section class="Links">
         
        <ul>


        <li><a href="https://www.freecodecamp.org/" class="external" target="_blank">FreeCodeCamp</a></li>

        <li><a href="https://fr.duolingo.com/" class="external" target="_blank">Duolingo</a></li>

        <li><a href="https://tomato-timer.com/" class="external" target="_blank">Pomodoro</a></li>

        <li><a href="https://fr.khanacademy.org/" class="external" target="_blank">Khan Academy</a></li>




        <li><a href="https://coronavirus.app/" class="external" target="_blank">The Coronavirus App</a></li>

          
          </ul>

        </header>

        {{ content }}


      </article>
    </section>
</div>

{% include footer.html %}


