{% include head-dark.html %}

<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<section class="article pad-top">

      <article class="wrap post">
        <header class="post-header">

        <h3>
        Here is my list of projects I should do before september 2019 :</h3>  

         <section class="C">
          <h2>
            C : 
          </h2>
        <ul>
        

          <li><p> Command-Lines Interface [ ]</a></p></li>
          

          <li><p>Programming Basics [ ]</p></li>
          

          <li><p>Arrays and SDL [ ]</p></li>


          <li><p>Matrices and Strings [ ]</p></li>


          <li><p>Pointers [ ]</p></li>
          

          <li><p>Lists and Vectors [ ]</p></li>  


          <li><p>Hash Tables [ ]</p></li>

          </ul>

        </header>

        {{ content }}

        <div class="bar">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:0%">
              <span class="sr-only">1% Complete</span>
            </div>
          </div>



      </article>
    </section>
</div>


