{% include head-dark.html %}




<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<section class="article pad-top">

      <article class="wrap post">
        <header class="post-header">

        <h2>Here is the list of subjects I want to learn : </h2>  

         <section class="Code">
          <h2>
            <u>Code :</u> 
          </h2>
        <ul>

          <p><h4> I want to build a website from scratch so I will start by the FreeCodeCamp basics : </h4></p>
        

          <del><li><p>HTML and HTML 5</a></p></li></del>
        

          <li><p>CSS</p></li>
          

          <li><p>Applied Visual Design</p></li>


          <li><p>Applied Accessibility</p></li>


          <li><p>Responsive Web Design Principles</p></li>
          

          <li><p>CSS Flebox</p></li>  


          <li><p>CSS Grid</p></li>

          <li><p>Responsive Web Design Projects</p></li>

          </ul>



          <section class="Economy">
          <h2>
            <u>Investing :</u> 
          </h2>
        <ul>

          <p><h4> I want to learn how to invest my money so I will start by the Khan Academy Mooc : </h4></p>
        

          <del><li><p>Introduction</a></p></li></del>      

          <del><li><p>Shorting Stock</p></li></del>
          

          <li><p>Understanding company statement</p></li>


          <li><p>Corporate metrics and valuation</p></li>


          <li><p>Life of a company</p></li>
          

          <li><p>Dilution</p></li>  


          <li><p>Mergers and acquisitions</p></li>

          <li><p>Leveraged buy-outs</p></li>

          <li><p>Bonds</p></li>

          <li><p>Corporate bankruptcy</p></li>

          </ul>






        </header>

        {{ content }}

        <div class="bar">
          <h4> Number of Pomodoro<h4>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:6%">
              <span>6</span>
            </div>
          </div>



      </article>
    </section>
</div>

{% include footer.html %}


