{% include head-dark.html %}



<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>


  <section class="article pad-top">

      <article class="wrap post">
        <header class="post-header">
  <h3>Here are the rules I will follow until the end of the semester :</h3>
         <h4>1. 7 hours of sleep</h4>
         <h4>2. Work out</h4> 
         <h4>3. Cold Shower</h4>
         <h4>4. Meditation</h4>
         <h4><a href="{{ site.baseurl }}{% link read.md %}">5. Reading books</a></h4>
         <h4>6. Minimise internet use</h4>
         <h4><a href="{{ site.baseurl }}{% link code.md %}">7. Coding 1-2h / day</a></h4>
         <h4>8. No skipping classes</h4>
         <h4>9. Practice gratification </h4>
         <h4><a href="{{ site.baseurl }}{% link review.md %}">10. Journaling</a></h4>




          


        </header>

 <div class="bar_page">
          <span>D1</span>
 <div class="progress">

            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:2%; background-color:blue !important;"">
            <span>2%</span>

            </div>
          </div>







 <div class="bar_page">
          <span>Monk progress :</span>
 <div class="progress">

            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:2%; background-color:red !important;"">
            <span>2%</span>

            </div>
          </div>




{% include footer.html %}





